#dz-root {
  width: 400px;
  height: 200px;
}

#wrapper {
  height: 100vh;
  overflow: hidden;
}

#wrapper .loader {
  right: 10px;
  position: absolute;
}

#wrapper>#content {
  height: 100%;
}

#wrapper>#content>.md-subheader {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  box-shadow: 1px 1px 10px #333;
  margin-bottom: 20px;
}

#tracks .md-list-item-text {
  min-height: none;
  height: 30px;
  width: 100%;
}

#tracks .md-list-item-text.selected {
  font-weight: bold;
}

#tracks .md-list-item-text button.hidden {
  visibility: hidden;
}

#playlists {
  padding-bottom: 10px;
}

#playlists .playlist {
  width: 250px;
}

#playlists .md-headline {
  font-size: 1.3em;
  line-height: 1.2em;
}