#dz-root {
  width: 400px;
  height: 200px;
}

.deezer-content {}

.deezer-content .header {
  position: relative;
  overflow: hidden;
}

.deezer-content .header .md-list-item-text {
  min-height: none;
  height: 30px;
  width: 100%;
}

.deezer-content .header .md-list-item-text.selected {
  font-weight: bold;
}

.deezer-content .header .md-list-item-text button.hidden {
  visibility: hidden;
}

.deezer-content .header .player {
  height: 400px;
}

.deezer-content .playlists {
  padding-top: 20px;
  padding-bottom: 20px;
}

.deezer-content .playlists .playlist {
  width: 250px;
}

.deezer-content .playlists .md-headline {
  font-size: 1.3em;
  line-height: 1.2em;
}

.deezer-content .player .playing {
  display: inline-block; 
}