<md-content id="playlists">
  <div layout="row" layout-align="space-around none" layout-wrap>
    <md-card class="playlist" flex="nogrow" ng-repeat="playlist in $ctrl.playlists track by playlist.id">
      <img ng-src="{{playlist.picture_medium}}" class="md-card-image" alt="{{playlist.title}}" />
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{playlist.title}}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>{{playlist.nb_tracks}} morceaux</p>
      </md-card-content>
      <md-card-actions>
        <md-button ui-sref="tracks({ id: playlist.id })">Play</md-button>
      </md-card-actions>
    </md-card>
  </div>
</md-content>