<div id=tracks layout="column" flex layout-fill>
  <md-content>
    <md-subheader class="md-primary" ng-cloak>
      <span>{{$ctrl.currentTrack.artist.name}}</span>&nbsp;/&nbsp;
      <span>{{$ctrl.currentTrack.album.title}}</span>&nbsp;/&nbsp;
      <span>{{$ctrl.currentTrack.title}}</span>
      <md-fab-speed-dial md-open="open" md-direction="down" class="play-menu md-fling" ng-mouseenter="open=true" ng-mouseleave="open=false">
        <md-fab-trigger>
          <md-button aria-label="menu" class="md-fab md-primary">
            <md-icon md-svg-src="assets/images/menu.svg"></md-icon>
          </md-button>
        </md-fab-trigger>
        <md-fab-actions>
          <md-button ng-click="$ctrl.cancel()" class="md-fab md-raised md-mini">
            <md-icon md-svg-src="assets/images/close.svg" aria-label="Close"></md-icon>
          </md-button>
          <md-button ng-click="$ctrl.trackNext()" class="md-fab md-raised md-mini">
            <md-icon md-svg-src="assets/images/skip-forward.svg" aria-label="Next"></md-icon>
          </md-button>
          <md-button ng-click="$ctrl.trackPause()" class="md-fab md-raised md-mini">
            <md-icon md-svg-src="assets/images/play-pause.svg" aria-label="{{$ctrl.pauseButtonText}}"></md-icon>
          </md-button>
        </md-fab-actions>
      </md-fab-speed-dial>
    </md-subheader>
    <md-list layout="column" layout-padding>
      <md-list-item class="md-3-line" ng-repeat="track in $ctrl.tracks track by track.id" ng-mouseenter="show=true" ng-mouseleave="show=false">
        <div class="md-list-item-text" ng-class="{selected: $ctrl.currentTrack && ($ctrl.currentTrack.id == track.id)}">
          <h3>{{track.artist.name}}</h3>
          <h4>{{track.album.title}}</h4>
          <p>{{track.title}}</p>
        </div>
        <md-button class="md-secondary" ng-class="{hidden: !show || ($ctrl.currentTrack && $ctrl.currentTrack.id == track.id)}" ng-click="$ctrl.trackPlay($index)">
          Play
        </md-button>
        <md-divider ng-if="!$last" class="ng-scope"></md-divider>
      </md-list-item>
    </md-list>
  </md-content>
</div>