<div ng-if="$ctrl.playlist.length > 0">
  <div layout="row" layout-align="space-around none" layout-wrap>
    <md-card class="track" flex="nogrow" ng-repeat="track in $ctrl.playlist">
      <img ng-src="{{track.album.cover_medium}}" class="md-card-image" alt="{{track.rtist.name}}" />
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{track.title}}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p><strong>{{track.artist.name}}</strong> : {{track.album.title}}</p>
      </md-card-content>
      <md-card-actions>
        <md-button ng-click="$ctrl.playTrack(track.id)">Play</md-button>
      </md-card-actions>
    </md-card>
  </div>
</div>